<footer id="footer-box">
    <div id="back-to-top">
        <button id="back-to-top-button" onClick="backToTop()"></button>
    </div>
    <div id="footer-info">
        <div class="footer-content">
            <p>© 2024 Curios'Uni</p>
        </div>
        <div class="footer-content">
            <button onclick="location.href='https://www.linkedin.com/';" id="linkedin-button" class="social-button">
                <img src="./img/linkedin.svg" alt="linkedin logo">
            </button>
            <button onclick="location.href='https://www.facebook.com/';" id="facebook-button" class="social-button">
                <img src="./img/facebook.svg" alt="profile logo">
            </button>
            <button onclick="location.href='https://www.x.com/';" id="X-button" class="social-button">
                <img src="./img/X.svg" alt="X logo">
            </button>
            <button onclick="location.href='https://www.instagram.com';" id="instagram-button" class="social-button">
                <img src="./img/instagram.svg" alt="instagram logo">
            </button>
        </div>
    </div>
</footer>

<script src="/scripts/footer.js"></script>