MONGODB_USERNAME = <Enter mongodb_atlas username here>
MONGODB_PWD = <Enter mongodb_atlas password here>
MONGODB_CLUSTER_NAME = <Enter mongodb_atlas cluster name here>
MONGODB_DB_NAME = <Enter mongodb_atlas database name here>
SECRET_JWT = <Enter a secret key for JWT>
EMAIL_IDENTIFIER = <Enter an email address used to send email to clients (Use an outlook email. Otherwise, it will not work.)>
EMAIL_PASSWORD = <Enter email password corresponding to the email address above>

CLIENT_URL = 'http://localhost:3000' (this is the URL address in local, you can change it if you want)