<%- include('./partials/head.ejs') %>
<div id="body-404">
    <div id="error-message-404">
        <h1 id="h1-404">404</h1>
        <h2 id="h2-404">Perdu dans vos fouilles !</h2>
    </div>
    <div id="back-home-404">
        <p id="p-404">Désolés, la page que vous souhaitez accéder n'existe pas.</p>
        <a id="link-404" href="/">← Retour à l'accueil</a>
    </div>
</div>

<%- include('./partials/foot.ejs') %>
