<%- include('../partials/head.ejs') %>
<div id="login-form-container">
    <h1 id="login-h1">Se connecter</h1>
    <form id="login-form" action="/login" method="POST">
        <div class="input-container-login">
            <label class="label-login" for="email">Adresse e-mail</label>
            <input class="login-input" type="text" name="email" id="email" required>
        </div>

        <div class="input-container-login">
            <label class="label-login" for="password">Mot de passe </label>
            <input class="login-input" type="password" name="password" id="password" required>
            <div id="password-error" class="error-message"></div>
        </div>
        
        <div class="input-container-login">
            <button class="login-input" id="login-submit">Se connecter</button>
        </div>
    </form>
    <p id="no-account">Vous n'avez pas de compte ? <a href="/signup">Inscrivez-vous</a></p>
</div>

<% if (typeof script!='undefined'){ %>
    <script src="/scripts/<%= script %>.js"></script>
<% }%>
<%- include('../partials/foot.ejs') %>