<%- include('../partials/head.ejs') %>

<div id="request-email-box">
    <div id="text-box">
        <p>Nous avons besoin de vérifier votre identité.</p>
        <p>Un message a été envoyé à votre adresse mail pour la vérifier.</p>
        <p>Vérifier votre adresse vous permettra d'accéder à toutes les fonctionnalités du site !</p>
        <p>Vous pouvez tout-de-même aller faire des recherches de curiosités !</p>
    </div>
    <div id="link-box">
        <a class="link-request-email" href="/">← Retour à l'accueil</a>
    </div>
    
</div>

<%- include('../partials/foot.ejs') %>