#h1-404, #h2-404{
    font-family: "Pacifico";
}

#h1-404{
    color : #d99e6a;
    padding: 0px;
    margin: 0px;
    margin-bottom:30px;
    font-size:70px;
    line-height: 100%;
}

#h2-404{
    color:#2b2b2b;
    padding: 0px;
    margin: 0px;
    line-height: 100%;
}

#back-home-404{
    padding-top:70px;
}

#p-404{
    margin-bottom:30px;
}

#link-404{
    transition: 0.5s;
    background-image: linear-gradient(to right, #f0c28f 0%,#d99e6a 50%, #c47c48 100%);
    background-size: 200% auto;
    text-decoration:none;
    padding: 10px 16px;
    border-radius: 36px;
    color: #2b2b2b;
}

#link-404:hover{
    color: rgb(245, 241, 241);
    background-position: right center;
}


