.h1-error, .h2-error{
    font-family: "Pacifico";
}

.h1-error{
    color : #d99e6a;
    padding: 0px;
    margin: 0px;
    margin-bottom:30px;
    font-size:70px;
    line-height: 100%;
}

.h2-error{
    color:#2b2b2b;
    padding: 0px;
    margin: 0px;
    line-height: 100%;
}

.back-home-error{
    padding-top:70px;
}

.p-error{
    margin-bottom:30px;
}

.link-error{
    transition: 0.5s;
    background-image: linear-gradient(to right, #f0c28f 0%,#d99e6a 50%, #c47c48 100%);
    background-size: 200% auto;
    text-decoration:none;
    padding: 10px 16px;
    border-radius: 36px;
    color: #2b2b2b;
}

.link-error:hover{
    color: rgb(245, 241, 241);
    background-position: right center;
}


