@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800');

/*all pages*/
html{
    background: white;
}

body{
    background: inherit;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height:100vh;
    display:flex;
    flex-direction:column;
}

p, a, form{
    font-family: "Open Sans";
}

#scrollable{
    margin-top:50px;
    margin-left:15%;
    margin-right:15%;
    margin-bottom:50px;
}


/*Navigation bar*/
#nav-box{
    background: inherit;
    padding-top:10px;
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -o-sticky;
    position: -ms-sticky;
    position: sticky;
    top:0;
    box-shadow: 0px 1px 5px #0009;
}

#logo-nav{
    padding:10px;
    background-color: #d99e6a;
    border-radius:50px;
}

nav{
    display: flex;
    justify-content: space-between;
    margin-left:5%;
    margin-right:5%;
    align-items: center;
    padding-bottom:10px;
}

nav ul{
    display:flex;
    justify-content: space-between;
    align-items: flex-end;
}

nav li{
    list-style-type: none;
    margin-left:5px;
    margin-right:5px;
}

/*first menu*/
#nav-categories{
    margin-left:30px;
    display:flex;
    flex-direction:row;
}

/*research bar form*/
#form-nav{
    margin:auto;
    border: solid 1px #ddd;
    border-radius:15px;
    vertical-align:middle;
    padding-right:5px;

}

#text-input-nav{
    border:none;
    width : 240px;
    height:50px;
    padding-left:10px;
    padding-right:10px;
    font-size:14px;
    background:none;
}

#text-input-nav:focus{
    outline: none;
    border:none;
}

#submit-input-nav{
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right, #f0c28f 0%,#d99e6a 50%, #c47c48 100%);
    transition: 0.5s;
    background-size: 200% auto;
    border-radius: 10px;
    padding:7px;
    border:none;
    height:initial;
}

#submit-input-nav:hover{
    cursor:pointer;
    background-position: right center;
    color: #f5f1f1;
}

#submit-input-nav img{
    width:15px;
}

/*all buttons in the nav bar*/
.nav-links{
    display:flex;
    align-items:center;
    transition: 0.5s;
    background-size: 200% auto;
    padding: 0px 16px;
    text-decoration: none;
    border-radius: 36px;
    color: inherit;
    height:45px;
    max-width:175px;
      
}

.nav-links:hover{
    background-image: linear-gradient(to right, #4a4a4a33 0%,#6b6b6b33  30%, #a3a3a333 100%);
    background-position: right center;
}

/*button signup*/
#nav-signup{
    background-image: linear-gradient(to right, #f0c28f 0%,#d99e6a 50%, #c47c48 100%);
    color:#2b2b2b;
}

#nav-signup:hover{
    color: rgb(245, 241, 241);
    background-position: right center;
}

/*button profile*/
#nav-profile{
    min-width:100px;
    max-width:175px;
    text-align:right;
}

#nav-profile:hover{
    background-image: linear-gradient(to right, #4a4a4a33 0%,#6b6b6b33  30%, #a3a3a333 100%);
}

#nav-profile img{
    width:25px;
    margin-right:8px;
    
}

/*button logout*/
#nav-logout{
    background-image: linear-gradient(to right, #f0c28f 0%,#d99e6a 50%, #c47c48 100%);
    color:#2b2b2b;
}

#nav-logout:hover{
    color: rgb(245, 241, 241);
    background-position: right center;
}
#nav-logout img{
    width:25px;
    margin-right:8px;
    
}